@charset "utf-8";
/* CSS Document */

body {
	margin: 0 auto;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

div#pagewrapper {
	margin: 0 auto;
    padding: 0;
    width: 100%;
    position: absolute;
}

div#header {
	margin: 0;
    padding: 0;
	height: 250px;
	background: url(/layout/header-overlay.png) no-repeat center top;
}

div#header_content_holder {
	margin: 0 auto;
    padding: 0;
	height: 420px;
	width: 980px;
}


#slogan {
color: white;
font-size: 1.3em;
} 


#header_background {
	height: 190px;
	width: 100%;
	position: absolute;	
}

#header_black{
	height: 87px;
	width: 100%;
	background: url(/layout/header-underlay.png) repeat-x top;
}

#header_color{
	height: 103px;
	width: 100%;
}


div#logo {
	float: left;
	padding: 0;
    margin-right: 600px;
	height: 0px;
	width: 380px;
}

div#slogan {
	float: left;
	padding: 0;
	margin-top: 60px;
	height: 40px;
	width: 980px;
}

div#search {
	float: left;
	padding: 0;
	margin-top: 10px;
	height: 100px;
	width: 980px;
}

div.clear {
	clear:both;
}

div#content {
	margin: 0 auto;
    padding: 0 0 20px;
	min-height: 500px;
	width: 980px;
}

div#infobar {
	margin: 0;
    padding: 0;
	height: 20px;
	width: 980px;
	text-align: right;
}

div#main {
	float: left;
	margin-top: 20px;
	margin-right: 10px;
    padding: 0;
	min-height: 300px;
	width: 680px;
}

div#sidebar {
	float: right;
	margin-top: 20px;
	padding: 0;
	min-height: 0px;
	width: 270px;
	padding-left: 10px;
}

div#footer {
	margin: 0;
    padding: 0;
	height: 163px;
	background: url(/layout/footer-bg.jpg) no-repeat center top white;
}

div#footer_content_holder {
	margin: 0 auto;
    padding: 0;
	height: 163px;
	width: 980px;
}

div#shortcut_left {
	float: left;
	margin: 0;
    padding-top: 13px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
	height: 140px;
}

div#shortcut_center {
	float: left;
	margin: 0 10px;
    padding-top: 13px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
	height: 140px;
}

div#shortcut_right {
	float: left;
	margin: 0;
    padding-top: 13px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
	height: 140px;
}

div.list_entry {
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 15px;
	width: 680px;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: #F6F6F6;
	padding-right: 20px;
}

div.list_image {
	float: left;
	margin-right: 5px;
	padding: 0 15px 0 15px;
	width: 135px;
	min-height: 50px;
}

div.list_text_holder {
	float: left;
	margin: 0;
	padding-bottom: 15px;
	width: 510px;
}

div.list_title {
	float: left;
	margin: 0;
	padding: 0;
	width: 510px;
	height: 30px;
	font-weight: bold;
	font-size: 1.5em;
}

div.list_left_text {
	float: left;
	margin-right: 5px;
	padding: 0;
	width: 177px;
	min-height: 60px;
}

div.list_right_text_holder {
	float: left;
	margin: 0;
	padding: 0;
	width: 328px;
	min-height: 60px;
}

div.list_right_text_top {
	margin: 0;
    padding: 0;
	height: 13px;
	width: 328px;
	background: url(/layout/list_text_box_top.png) no-repeat left top transparent;
}

div.list_right_text_center {
	margin: 0;
	padding: 0 10px 0 10px;
	min-height: 100px;
	width: 308px;
	background: url(/layout/list_text_box_center.png) repeat-y left top transparent;
}

div.list_right_text_bottom {
	margin: 0;
    padding: 0;
	height: 13px;
	width: 328px;
	background: url(/layout/list_text_box_bottom.png) repeat-y left top transparent;
}
#page_navigation a {
	display: block;
	float: left;
	margin-right: 7px;
}

#regions {
font-size: 16px;
}
#searchBar {
height: 24px;
width: 420px;
border-radius: 6px;
-moz-border-radius: 6px;
border: 1px solid black;
padding: 5px 10px;
font-size: 16px;
margin-top: 5px;
background: #222;
color: white;
}


.companyForm li {
list-style: none;
padding: 5px;
}

.companyForm label {
float: left;
width: 120px;
}

